.signUp{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('../../assets/flower.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    
}

.alert{
    text-align: center;
    padding: 1.6rem 1.4rem;
    font-size: 2.2rem;
    font-weight: bold;
    background-color: #32a35f;
    border-radius: 10px 10px;
}

.signUpForm{
    min-width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}




.signUpForm input {
    outline: none;
    border: none;
    background-color: rgba(179, 178, 178, 0.322);
    padding: 1rem 2.5rem;
    font-size: 1.7rem;
    border-radius: 5% 5%;
    color: black;
    
}
.signUpForm input::placeholder{
    color: rgba(83, 80, 80, 0.726);
    font-weight: 530;
    font-style: italic;
}
.fa-eye-slash{
    color: black;
}

.register{
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-bottom: 1.8rem;
}

.register h2{
    font-size: 4.2rem;
    color: #184A2C;
}

.register p{
    font-size: 2.7rem;
    color: rgba(128, 128, 128, 0.726);
    font-weight: bold;
   
}

.privacy span{
    
    color:#32a35f ;
    font-size: 2rem;
}
.privacy{
    font-size: 2rem;
    
}

.signUpBtn{
    margin-top: 1rem;
    background-color: #32a35f;
    width: 80%;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 20px 20px ;
    border: none;
    font-weight: 600;
}

.signUpBtn {
    width: 15%;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}
.Login{
    font-size: 2rem;;
}

.Login > a {
    content: '';
    color: blue;
} 


@media  only screen and (max-width:768px) {
    .signUpBtn {
        width: 40%;
    }
}