<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <%- include ('./style.ejs')%> 
</head>
 
<body>
    <div class="box">
        <h1 class="title">Reset password</h1>
        <form class="info-box" id="form" action="http://localhost:8000/api/reset/forget-password/<%= id %> /<%= token %> " method="post">
            <div class="password-box">
                <label  class="password-title" for="password">Password</label>
                <input class="password-index" type="password" name="password" id="pass" placeholder="new-password">
            </div>
            <div class="password-box">    
                <label class="password-title" for="confirmPassword">confirm Password</label>
                <input class="password-index"  type="Password" name="confirmPassword" id="confirmPass" placeholder="confirm new-password">
            </div>
            <input class="submit" type="submit" value="Reset Password" id="submit">
        </form>
    </div>  

</body>

</html>